/* search bar begin*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
a {
  display: block;
  padding: 8px;
  background-color: rgb(218, 197, 17);

}
.links {
  float: left;
  display: inline;
}
.logo {
  float: right;
}
li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

li a:hover {
  background-color: rgb(173, 157, 19);
}
.current {
  background-color: black;
}
/* search bar end*/