


h1 {
  text-align: center;
}
/* Tables */
table, th, td {
  border: 2px solid rgb(218, 197, 17);
  border-style: outset;
}
.Legend {
  border: 1px solid black;
  border-radius: 10px;
}
.Blank {
  border: 1px solid azure;
}
.Rechts {
  float: right;
}
/* End of Tabels */

.status {
  border: 2px solid black;
  margin-right: 1100px;
  margin-top: 20px;
  text-align: center;
}